<%= puts "------ -- ENTROO" %>
<table>
  <thead>
  <tr>
    <th>Amount</th>
    <th>Date done</th>
    <th>Group</th>
    <th>Activity</th>
    <th>Observation</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% group_activities.each do |group_activity| %>
    <tr>
      <td><%= group_activity.amount %></td>
      <td><%= group_activity.date_done %></td>
      <td><%= group_activity.group.name %></td>
      <td><%= group_activity.activity.name %></td>
      <td><%= group_activity.observation %></td>
      <td><%= group_activity.user.full_name %></td>
      <td><%= link_to 'Show', group_activity %></td>
      <td><%= link_to 'Edit', edit_group_activity_path(group_activity) %></td>
      <td><%= link_to 'Destroy', group_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>