<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @group_activity.amount %>
</p>

<p>
  <strong>Date done:</strong>
  <%= @group_activity.date_done %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_activity.group.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @group_activity.activity.name %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @group_activity.observation %>
</p>

<p>
  <strong>User:</strong>
  <%= @group_activity.user_id %>
</p>

<%= link_to 'Edit', edit_group_activity_path(@group_activity) %> |
<%= link_to 'Back', group_activities_path %>
