<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Postres</li>
      </ol>
    </nav>
</div>
<div class="card-block">
    <section class="text-center">
        <div class="container">
          <p id="notice"><%= notice %></p>
        </div>
    </section>

    <div class="">
        <div class="container">
            <div class="row">
              <div class="col-md-12" align="left">
                <p>
                  <strong>Amount:</strong>
                  <%= @group_sanction.amount %>
                </p>
              
              <p>
                <strong>Date done:</strong>
                <%= @group_sanction.date_done %>
              </p>
              
              <p>
                <strong>Group:</strong>
                <%= @group_sanction.group_id %>
              </p>
              
              <p>
                <strong>Sanction:</strong>
                <%= @group_sanction.sanction_id %>
              </p>
              
              <p>
                <strong>User:</strong>
                <%= @group_sanction.user_id %>
              </p>

        
              <%= <%= link_to 'Edit', edit_group_sanction_path(@group_sanction), class: "btn btn-dark" %> |
              <%= link_to 'Back', group_sanctions_path %>
                </div>
            </div>
        </div>
    </div>
</div>

