<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Campamentos</li>
      </ol>
    </nav>
</div>
<div class="card-block">
    <section class="text-center">
        <div class="container">
            <h3 class="jumbotron-heading"><%= @event.name %></h3>
        </div>
    </section>

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="left">
                  <p>
                  <strong><%= t('event.name')%></strong>
                  <%= @event.name %>
                  </p>

                  <p>
                  <strong><%= t('event.description')%></strong>
                  <%= @event.description %>
                  </p>

                  <p>
                  <strong><%= t('event.code')%></strong>
                  <%= @event.code %>
                  </p>

                  <p>
                  <strong><%= t('event.amount')%></strong>
                  <%= @event.amount %>
                  </p>

                  <p>
                  <strong><%= t('event.type_validation')%></strong>
                  <%= @event.type_validation %>
                  </p>

                  <p>
                  <strong><%= t('event.init_date')%></strong>
                  <%= @event.init_date %>
                  </p>

                  <p>
                  <strong><%= t('event.end_date')%></strong>
                  <%= @event.end_date %>
                  </p>

                  <%= link_to t("button_action.edit"), edit_event_path(@event), class: "btn btn-dark" %> |
                  <%= link_to t("button_action.back"), events_path, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    </div>
</div>