<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Rules</th>
      <th>Code</th>
      <th>Date init</th>
      <th>Date end</th>
      <th>Amount</th>
      <th>Is close</th>
      <th>State</th>
      <th>Is visible</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.rules %></td>
        <td><%= activity.code %></td>
        <td><%= activity.date_init %></td>
        <td><%= activity.date_end %></td>
        <td><%= activity.amount %></td>
        <td><%= activity.is_close %></td>
        <td><%= activity.state %></td>
        <td><%= activity.is_visible %></td>
        <td><%= activity.event_id %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
