<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @activity.rules %>
</p>

<p>
  <strong>Code:</strong>
  <%= @activity.code %>
</p>

<p>
  <strong>Date init:</strong>
  <%= @activity.date_init %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @activity.date_end %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @activity.amount %>
</p>

<p>
  <strong>Is close:</strong>
  <%= @activity.is_close %>
</p>

<p>
  <strong>State:</strong>
  <%= @activity.state %>
</p>

<p>
  <strong>Is visible:</strong>
  <%= @activity.is_visible %>
</p>

<p>
  <strong>Event:</strong>
  <%= @activity.event_id %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
