<!DOCTYPE html>
<html lang="es">
  <head>
    <title>QRADM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="">
    <meta name="author" content="adancondoric@gmail.com">
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
  
    <%= render partial: 'layouts/header' %>

    <div class="container-fluid">
    <div class="row">
      <%= render partial: 'layouts/navigation' %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
         <%= yield  %>
      </main>
    </div>
  </div>
    <%= render partial: 'layouts/footer' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          
  </body>
</html>
